header
{
    background-color: rgb(83, 81, 81);
}
header nav
{
    display: flex;
    width: 100%;
}
header nav ul
{
    list-style-type: none;
    width: 50%;
    float: right;
    padding-top: 45px;
    margin-left: 70px;
}
header nav ul li
{     
    display: inline;
    
    padding: 40px;
    margin-left: 10px;
    margin-right: 0px;
    color: white;
    font-size: 20px;
}
#logo 
{
    float: left;
    margin: 10px 0px 10px 200px;
    width: 200px;
    height: 70px;
}
#MainTop
{
    margin-top: 30px;
    margin-left: 280px;
}
#Main
{
    margin-top: 30px;
    width: 100%;
    margin-left: 280px;
    padding-right: 15px ;
}
main section#Main img:nth-child(2)
{
    padding-left: 26px;
}
main section#Main img:nth-child(3)
{
    padding-left: 26px;
}
#MainBotton
{   
    margin-top: 30px;
    margin-left: 280px;
}
/* main section#MainBotton textarea
{   
 width: 480px;
 height: 350px;
} */
main div.Scrool 
{
    
display: inline-block;
    
  width: 465px;
  height: 400px;
  overflow: scroll;
  padding-left:15px ;
}
button
{
    background-color: black;
    color: white;
    margin-left: 800px;
    opacity: 1;
  transition: 360ms;
}
button:hover
{
    opacity: 0.6
}
footer
{
    background-color: black;
    clear: both;
    width: 100%;
    height: 70px;
    margin-top: 30px;
}

