body
{
    background-color: white;
}
header
{
    background-color: rgb(83, 81, 81);
}
header nav
{
    display: flex;
    width: 100%;
}
header nav ul
{
    /* list-style-type: none; */
    width: 50%;
    float: right;
    padding-top: 45px;
    margin-left: 70px;
}
header nav ul li
{     
    display: inline;
    
    padding: 40px;
    margin-left: 5px;
    margin-right: 0px;
    color: white;
    font-size: 20px;
}
header nav div{
    float: left;
    margin: 10px 0px 10px 280px;

}
main section:nth-child(1)
{
    margin-top: 30px;
    margin-left: 280px;
}
main section:nth-child(2) 
{
    margin-top: 30px;
    /* width: 100%; */
    margin-left: 280px;
    padding-right: 15px ;
}
main section:nth-child(2) img:nth-child(2)
{
    padding-left: 26px;
}
main section:nth-child(2) img:nth-child(3)
{
    padding-left: 26px;
}
main section:nth-child(3)
{   
    margin-top: 30px;
    margin-left: 280px;
}
main section:nth-child(3) div 
{
    
display: inline-block;
    
  width: 465px;
  height: 400px;
  overflow: scroll;
  padding-left:15px ;
}
button
{
    
    background-color: black;
    color: white;
    margin-left: 800px;
    opacity: 1;
    transition: 360ms;
}
button:hover
{
    opacity: 0.6
}
footer
{
    background-color: black;
    clear: both;
    width: 100%;
    height: 70px;
    margin-top: 30px;
}

h4
{
    font-weight: bold;
    font-size: 20px;
}